.container {
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  max-width: max(min(85vw, 1600px), 1020px);
  padding: 3.5rem 1rem;

  @media screen and (max-width: 1020px) {
    padding-top: 3rem;
    padding-bottom: 3rem;
  }
}

.container-fluid {
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
  width: 100%;
}
