jio-improve-this-page,
jio-report-a-problem {
  --link-color: var(--color);
}

footer {
  --gap: 2rem;

  color: var(--color);
  line-height: 1.66;
  margin: 0;
  padding: 2rem;
  position: relative;
  width: 100%;
  z-index: 2;
  display: grid;
  grid-template-columns: 0.5fr 1fr;
  gap: 8rem;

  .things {
    display: flex;
    flex-direction: column;
    gap: 20px;

    .ting {
      display: flex;
    }

    .box {
      display: flex;
      gap: 20px;
    }

    * {
      margin: 0;
    }
  }

  .links {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: var(--gap);

    & > div {
      display: flex;
      flex-direction: column;
      gap: 5px;

      h5 {
        margin: 0;
        color: var(--color--secondary);
        font-weight: 500;
        font-size: 1rem;
      }

      ul {
        display: contents;
        list-style-type: none;

        a {
          color: var(--color);
          text-decoration: none;

          &:hover {
            text-decoration: underline;
            text-decoration-thickness: 2px;
          }
        }
      }
    }
  }
}
